<!DOCTYPE html>
<html>
<head>
  <title>PotentialFriendFinder</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body class="container_24">
  <p id="notice"><%= notice %></p>
  <h1>Potential Friend Finder</h1>
  <%= link_to "home", root_path %>
  <div id="user_nav">  
    <% if current_admin %>  
      <%= link_to "Edit profile", edit_admin_path(:current) %>  
      <%= link_to "Logout", logout_path %>  
    <% else %>  
      <%= link_to "Register",   new_admin_path %>  
      <%= link_to "Log in", login_path %>  
    <% end %>
  </div>

<%= yield %>

  <p class="footer">Fork me on Github: <a href="https://github.com/Schneems/Potential-Friend-Finder">https://github.com/Schneems/Potential-Friend-Finder</a></p>
</body>
</html>
